block content
	form
		input(type="text", placeholder="New Username") :New Username
		input(type="text", placeholder="Confirm Username") :Confirm Username
		input(type="text", placeholder="Password"):Password
		input(type="submit") Submit