block content
	form
		input(type="text", name="username", placeholder="New Username") :New Username
		input(type="text", name="username", placeholder="Confirm Username") :Confirm Username
		input(type="text", name="password", placeholder="Password"):Password
		input(type="submit") Submit