extends layout

block content
	div.edit
		form#editSettings(action="/changePassword", method="post")
			input#newPassword.form1(type='password', name="password", placeholder="password")
			input#newPassword.form1(type="password", name="conf-password", placeholder="confirm password")
			input(type="submit", value="Save")