//- block content
//- 	form(action="/", method="post")
//- 		input(type="text", name="username", placeholder="Username") :Username
//- 		input(type="text", name="password", placeholder="New Password") :New Password
//- 		input(type="text", name="password", placeholder="Confirm Password") :Confirm Password
//- 		input(type="submit") Submit