extends layout

block content
	div.edit
		form#editSettings(action="/changeUsername", method="post")
			input#newUsername.form1(type="text", name="username", placeholder="username")
			input#newUsername.form1(type='text', name="conf-username", placeholder="confirm username")
			input(type="submit", value="Save")