block content
	form
		input(type="text", placeholder="Username") :Username
		input(type="text", placeholder="New Password") :New Password
		input(type="text", placeholder="Confirm Password") :Confirm Password
		input(type="submit") Submit