doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		title IdeaDex

	body.container
			img.logoimg(src="/img/ideadexlogo.png")
			div.login
				div
					h1 IdeaDex
				div
					form(action="/signup", method="post")
						div.form1
							label Username: 
							input.loginusername(type="text", name="username", placeholder="username")
						div.form1
							label Password:
							input.loginpassword1(type="password", name="password", placeholder="password")
						div.form1
							label Cfm Password:
							input.loginpassword2(type="password", name="password-verify" placeholder="password")
						p
						input.signupbtn(type="submit", value="Create Acct")



		