extends layout

block content
	div
		form.post
			input.postinput(type="text", placeholder="Add your ideas here...")
			img.uploadTake(src="/img/uploadpicIcon.png", width="25px")
			input.submit(type="submit", value="Post")
		table.ideaTable
			tr
				td
				td