extends layout

block content
	div.edit
		p Change username?
			a(href="/"+user.username+"/changeUsername") Reset Here
		p Change password?
			a(href="/"+user.username+"/changePassword") Reset Here
		p Upload or Add Image Destination
			form(action="/uploadProfilepic", method="post")
				input(type="text", name="imageUrl")
				input(type="submit")
		