extends layout

block content
	div
		br
		br
		br
		br
		table.table1
			tr
				td
				td
				td
				td
				for favorite in favorites	
					tr.posts
						td
						td
						td.ideaBody
							h3= favorite.contents
							h6= favorite.username
						td


