doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="main.css")
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		title IdeaDex

	body.container
			img.logoimg(src="/img/ideadexlogo.png")
			div.login
				div
					h1 IdeaDex
				div
				
					form(action="/auth/login", method="post")
						label Username: 
						input.loginusername(type="text", name="username", placeholder="username")
						label Password:
						input.loginpassword1(type="text", name="password", placeholder="password")
						input(type="submit", value="Login", placeholder='login')
				p
				div
					button
						a(href="/createacct") Create Acct
				div
					span forgot username?
						button.chgusr
							a(href="/changeUsername") Change Username
				div
					span forgot password?
						button.chgpw
							a(href="/changePassword") Change Password
			//- h2 Persons Ideas
			//- ul#idea-list
			//- 	for idea in Ideas
			//- 		li.idea(data-id="#{idea._id")
			//- 			strong = idea.category
			//- 			a.