block content
	.container
		div
			h1 IdeaDex
		div
			form.form
				input.form-control(type="text", placeholder="username")
			form.form
				input.form-control(type="text", placeholder="password")
			button
				a(href="/home") Login
			button
				a(href="/home") Create Acct
		div
			span forgot username?
				button
					a(href="/changeUsername") Change Username
		div
			span forgot password?
				button
					a(href="/changePassword") Change Password