doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="/main.css")
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		title IdeaDex

	body
		.header
			a.homelogo(href="/"+user.username+"/home") IdeaDex
		nav(role="navigation")
			form.form-group(action="/"+user.username+"/search", method="post")
				input#searchinput.searchinput(type="text", placeholder="search for user", name="search")
				input(type="submit", value="Search")
		ul.menuBar
			li
				button
					//- a.loginbtn2(href="/home/mongoid") Home
					a.loginbtn2(href="/"+user.username+"/home") Home
			li
				button
					a.loginbtn2(href="/"+user.username+"/discover") Discover
			li
				button
					a.loginbtn2(href="/"+user.username+"/favorites") Favorites
			li
				button Settings
				ul
					li
						button
							a.loginbtn2(href="/"+user.username+"/notifications") Notifications
					li
						button
							a.loginbtn2(href="/"+user.username+"/edit") Edit
					li
						button
							a.loginbtn2(href="/") Logout
						//- <div class="onoffswitch">
						//- 	<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
						//- 	<label class="onoffswitch-label" for="myonoffswitch">
						//- 		<span class="onoffswitch-inner"></span>
						//- 		<span class="onoffswitch-switch"></span>
						//- 	</label>
						//- </div>

		block content
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js")
		script(src="/client.js")
		