doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		script(src="../bower_components/sweetalert/dist/sweetalert.min.js")
		link(rel="stylesheet" type="text/css" href="../bower_components/sweetalert/dist/sweetalert.css")
		link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/main.css")
		title IdeaDex
	body
		include ./templates/menubar.jade

		block content
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js")
		script(src="/client.js")
		