extends layout
block content
	br
	h3 You are surfing #{user.username}s profile
	if (isFollowing === -1)
		button.btn.btn-default(type='submit', action="/follow", method="post") Follow
	if (publicPosts.length > 0)
		table
			tbody
				for n in publicPosts
					tr
						td
							p= n.publicPost

