extends layout
block content
	div.searchlist
		h3 User Search Results
		table
			thead
				tr
					th Username
					th ID
			tbody
				for n in userlist
					tr
						td
							a(href=n.username)
								p= n.username
						td
							p= n._id