extends layout
block content
	div.searchlist
		h3 User Search Results
		table(style="width:550px")
			thead
				tr
					th Profile Pic
					th Username
					th ID
			tbody
				for n in userlist
					tr
						td
							img(src=""+ n.imageUrl +"", style="width:100px")
						td
							a#findProfile(href='/#{user.username}/#{n.username}')
								p#otherProfile= n.username
						td
							p= n._id


							//- action="onclick", method="get", 