div.header(style="position:fixed;top:0;")
      a.homelogo(href="/"+user.username+"/home") IdeaDex
    div(style="position:fixed;top:60px;")
      form#searchform.form-group(action="/"+user.username+"/search", method="post" style="position:fixed;top:60px;")
        input#searchinput.searchinput(type="text", placeholder="search for user", name="search")
        //- input(type="submit", value="Search")
      img#searchbtn(src="/img/magnifyGlass.png", width="37px" style="position:fixed;top:60px;")
    ul.menuBar(style="position:fixed;right:0;top:60px;")
      li
          a.navbtn(href="/"+user.username+"/home" class="btn btn-default btn-xs" role="button") Home
      li
          a.navbtn(href="/"+user.username+"/discover" class="btn btn-default btn-xs" role="button") Discover
      li
          a.navbtn(href="/"+user.username+"/favorites" class="btn btn-default btn-xs" role="button") Favorites
      li
        a.navbtn(class="btn btn-default btn-xs" role="button") Settings
        ul
          li
              a.navbtn(href="/"+user.username+"/notifications" class="btn btn-default btn-xs" role="button") Notifications
                //- span.badge #{user.notifications.length}
          li
              a.navbtn(href="/"+user.username+"/edit" class="btn btn-default btn-xs" role="button") Edit
          li
              a.navbtn(href="/" class="btn btn-default btn-xs" role="button") Logout